In [1]:
import pandas as pd
import numpy as np

a=np.random.randn(4,4)
df=pd.DataFrame(a,columns=['A','B','C','D'])
print(df)

df.rename(columns={'A':'Random value 1','B':'Random value 2','C':'Random value 3','D':'Random value 4'},inplace=True)
print(df)

print(df.describe(include='all'))

print(df.isnull())
print(df.dtypes)

print('\n')
for i in range(len(df)):
  print(df.loc[i,['Random value 2','Random value 3']])

          A         B         C         D
0 -0.131458 -0.712567  0.104909  0.116094
1 -2.418344 -0.835665 -1.290377  0.124232
2  0.953834 -0.805799 -0.768568  0.245979
3  0.766143 -0.811771 -1.181603 -0.444424
   Random value 1  Random value 2  Random value 3  Random value 4
0       -0.131458       -0.712567        0.104909        0.116094
1       -2.418344       -0.835665       -1.290377        0.124232
2        0.953834       -0.805799       -0.768568        0.245979
3        0.766143       -0.811771       -1.181603       -0.444424
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.207456       -0.791450       -0.783910        0.010470
std          1.548148        0.054149        0.633746        0.309026
min         -2.418344       -0.835665       -1.290377       -0.444424
25%         -0.703180       -0.817744       -1.208796       -0.024036
50%          0.317343       -0.808785       -0.975085        0.120163
75%          0.813066       -0.782491       -0.550199        0.154669
max          0.953834       -0.712567        0.104909        0.245979
   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object


Random value 2   -0.712567
Random value 3    0.104909
Name: 0, dtype: float64
Random value 2   -0.835665
Random value 3   -1.290377
Name: 1, dtype: float64
Random value 2   -0.805799
Random value 3   -0.768568
Name: 2, dtype: float64
Random value 2   -0.811771
Random value 3   -1.181603
Name: 3, dtype: float64